# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Uploaded Files
storage/

# PostgreSQL
*.db

# Alembic (لو هتستخدميه بعدين)
alembic/versions/*.pyc